.eventImg {
  border-radius: 15px;
  position: absolute;
  right: 20px;
  justify-content: right;
  width: 200px;
  height: 120px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.eventImg:hover .eventImg {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5) inset;
}
.row {
  margin: 25px 15px;
  padding: 0%;
  align-items: stretch;
  justify-content: right;
}
.row h4 {
  color: #a5dfa3;
  display: inline;
}
.row h3 {
  color: #d8e9d7;
  font-weight: 900;
  display: inline;
}
.text {
  margin-bottom: 100px;
  width: 50%;
}
.line {
  width: 17.5%;
  align-self: center;
  border-style: none;
  border-top: 20px dotted #2d7f9b;
  margin: auto auto 50px auto;
}
