.itemsList {
  position: relative;
  z-index: -1;
  width: 50%;
  list-style-type: none;
  margin: 10% auto;
}
@media only screen and (min-width: 1450px) {
  .itemsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
}

@media only screen and (min-width: 770px) {
  .itemsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}
