.card {
  width: 85%;
  padding: 20px 0 40px 0;
  background-color: rgb(43, 175, 43);
  border-radius: 15px;
  text-align: center;
  position: relative;
  list-style: none;
}

.card h3 {
  margin: auto;
  text-align: center;
  width: 75%;
}
.card img {
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
}
.card img:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}
.card a {
  position: absolute;
  bottom: 3%;
  left: 38%;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(15, 63, 15);
  color: aliceblue;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.card a:hover {
  background-color: aliceblue;
  color: rgb(15, 63, 15);
  border: 2px solid rgb(15, 63, 15);
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
  transform: translateY(2.5);
}
