.box {
  width: 90%;
  background: rgba(0, 0, 0, 0.452);
  margin: 20px 80px;
  border-radius: 15px;
  padding: 5px;
  z-index: -4;
  position: relative;
}
.headline {
  color: "#C6EBC5";
  font-weight: 1200;
}
.text {
  font-size: 22px;
  font-weight: bolder;
}
.sideImage {
  width: 150px;
  height: 150px;
  position: absolute;
  left: -28px;
  display: block;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .sideImage {
    display: none;
  }
  .box {
    margin: 20px 20px;
  }
}
